<div class="container">
  <div class="header">
    <h1>Node package vulnerability checker</h1>
    <p>Submit package.json file and analyze</p>
  </div>
  <div class="body">
    <div class="submitForm">
      <form action="/" method="post" enctype="multipart/form-data">
        <input
          type="file"
          name="package"
          id=""
          class="fileInput"
          required
          accept=".json"
        />
        <input type="submit" value="Check" class="button" />
      </form>
    </div>
    {{#if error}}
      <p style="color: red;text-transform: uppercase;"> {{error}}</p>
    {{/if}}
    <hr />

    {{#if showIllustration}}
      <div class="backgroundImage">
        <img src="../images/undraw_Upload_re_pasx.png" alt="" />
      </div>
    {{/if}}

    <div class="cards">
      {{#each data}}
        <div class="card">
          <h2> {{this.coordinates}}</h2>
          <p>
            {{this.description}}
          </p>
          <hr />
          <h4>Vulnerabilities</h4>
          {{#each this.vulnerabilities}}
            <a
              style="color: tomato;text-decoration: none;"
              href="{{this.reference}}"
            >{{this.title}}</a><br />
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
</div>